@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/grayDark.css";

:root {
  /* Tweak_Pane_theme_translucent  **********************************/
  --tp-base-background-color: hsla(0, 0%, 10%, 0.8);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 80%, 1);
  --tp-button-background-color-active: hsla(0, 0%, 100%, 1);
  --tp-button-background-color-focus: hsla(0, 0%, 95%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 85%, 1);
  --tp-button-foreground-color: hsla(0, 0%, 0%, 0.8);
  --tp-container-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-container-background-color-active: hsla(0, 0%, 0%, 0.6);
  --tp-container-background-color-focus: hsla(0, 0%, 0%, 0.5);
  --tp-container-background-color-hover: hsla(0, 0%, 0%, 0.4);
  --tp-container-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.2);
  --tp-input-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.4);
  --tp-input-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-label-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.3);

  /* ANIMATIONS  **********************************/
  --easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

}

/* make scrollbar transparent */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* ************************************************* */
/* ************************************** CSS RESETS */
/* ************************************************* */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
var,
figcaption,
footer,
header,
nav,
output,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
}

a:hover {
  text-decoration: none;
  color: var(--purple01);
}

a:focus {
  text-decoration: none;
  color: var(--yellow01);
}

a:active {
  text-decoration: none;
  color: var(--white01);
}

a:visited {
  text-decoration: none;
  color: inherit;
}

/* ************************************************ */
/* *********************************** TXT STYLES  */
/* ********************************************** */


.Flowa {
  font-family: Flowa;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
}

.Pirulen {
  font-family: Pirulen;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
}

p {
  font-size: 0.2rem;
}

h3 {
  font-size: 1.1rem;
}

h2 {
  font-size: 1.4rem;
}

h1 {
  font-size: 2rem;
}


/* ************************************************ */
/* ***************************** HTML&BODY&CANVAS  */
/* ********************************************** */

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  font-family: "Pirulen";
  font-size: 100%;
  line-height: 1.2;
  /* cursor:  url('/cursor/c04.svg'), auto; */
}

#eye {
  pointer-events: none;
}
canvas#noiseContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

canvas.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

nav {
  position: fixed;
  z-index:  100;
  width: 98%;
 /*  border: var(--mint7) 2px double; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 2.5vw;
  /* pointer-events: none; */
  z-index: 1000;

  > div {
    display: flex;
  }

  a {
    position: relative;
    color: var(--yellow6);
    text-decoration: none;
    font-size: 1rem;
    pointer-events: all;
    overflow: hidden;

    div,
    &::after {
      transition: transform 0.85s var(--easeOutExpo);
    }

    &::after {
      content: attr(data-txt);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      color: var(--yellow9);
    }

    &:nth-child(2) {
      margin-left: 2vw;
    }

    &:hover {
      div,
      &::after {
        transform: translateY(-100%);
      }
    }
  }
}

.footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 2vw 2.5vw;
   /* pointer-events: none; */
   z-index: 1000;
}
 .footer > div {
   display: flex;
}
 .footer a {
   position: relative;
   color: #fff;
   text-decoration: none;
   font-size: 1rem;
   pointer-events: all;
   overflow: hidden;
}
 .footer a div, .footer a::after {
   transition: transform 0.85s var(--easeOutExpo);
}
 .footer a::after {
   content: attr(data-txt);
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 100%;
   color: var(--grayDark11);
}
 .footer a:nth-child(2) {
   margin-left: 2vw;
}
 .footer a:hover div, .footer a:hover::after {
   transform: translateY(-100%);
}
 
.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: baseline;
  justify-content: center;
  gap: min(3rem, 6rem);
  padding-block: min(8px, 16px);
  padding-inline-end: min(8px, 16px);
}

#logo {
 /*  position: fixed;
  z-index: 1000;
  top: 2%; left: 2%; */
  width: 18%;
  padding: min(8px, 14px);
  margin: min(8px, 14px);
 /*  border: 2px solid var(--cyan8) ; */
  pointer-events: none;
  background-color: black;

}

.menu-open {
  position: fixed;
  z-index: 1000;
  top: 3%; right: 0%;
}

.menu-toggle {
  --bar-color-open: var(--slate10);
  --bar-color-close: var(--slate10);
  --bg-color-open: transparent;
  --bg-color-close: var(--slate1);
  
  --size: 1.5rem;
  --padding: 0.2rem;
  --total-size: calc(var(--size) + 2 * var(--padding));
  
  --bar-height: 0.2rem;
  --top: var(--padding);
  --center: calc(0.5 * var(--size) - 0.5 * var(--bar-height));
  --bottom: calc(var(--size) - var(--padding) - var(--bar-height));
  
  --transition: 600ms ease-in-out;
  
  position: relative;
  
  display: inline-block;
  width: var(--total-size);
  height: var(--total-size);
  
  background-color: var(--bg-color-open);
  
  transition: background-color var(--transition);
}

.menu-toggle > .bar {
  position: absolute;
  top: var(--padding);
  left: var(--padding);
  width: var(--size);
  height: var(--bar-height);
  
  background-color: var(--bar-color-open);
  
  transition: background-color var(--transition), 
    transform var(--transition);
}
.menu-toggle > .bar:nth-child(1) {
  transform: translateY(var(--top));
}
.menu-toggle > .bar:nth-child(2) {
  transform-origin: 0% 50%;
  transform: scaleX(1) translateY(var(--center));
}
.menu-toggle > .bar:nth-child(3) {
  transform: translateY(var(--bottom));
}
.menu-toggle.close {
  background-color: var(--bg-color-close);
}
.menu-toggle.close > .bar {
  background-color: var(--bar-color-close);
}
.menu-toggle.close > .bar:nth-child(1) {
  transform: translateY(var(--center)) rotate(135deg) rotateY(180deg);
}
.menu-toggle.close > .bar:nth-child(2) {
  transform: scaleX(0) translateY(var(--center));
}
.menu-toggle.close > .bar:nth-child(3) {
  transform: translateY(var(--center)) rotate(-135deg) rotateY(180deg);
}

/* ************************************************ */
/* ***************************** SVG */
/* ********************************************** */

/* http://jsfiddle.net/fezDu/4/ */
#RT-01{
  position: fixed;
  z-index: 0;
  max-width: 90%;
  max-height: 90%;
  padding: 0;
  pointer-events: none;
}
#RT-02 {
  z-index: 1100;
  width: 100vw;
  height: 100vh;
  place-self: stretch;
 /*  transform: rotate(90deg); */
  pointer-events: none;
}

/* ************************************************ */
/* ***************************** Tip tool Tippy */
/* ********************************************** */

.tippy-box
[data-animation='scale']
[data-state='hidden']
[data-placement^="left"] {
  opacity: 0;
  transform: scale(1.1);
}

/* ************************************************* */
/* *********************** UI ARROWS + Project Titles*/
/* ************************************************* */

.toggleButton {
  opacity: 0;
  pointer-events: auto;
}
/* ************************************************* */
/* ************************************ MUSIC PLAYER   */
/* ************************************************* */


/* ************************************************* */
/* ******************************** OVERLAYERS  */
/* ************************************************* */

.overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 1;
}

#tvLines {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDAgNzkuMTYwNDUxLCAyMDE3LzA1LzA2LTAxOjA4OjIxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+LUNEtwAAABBJREFUCJljYGBg8GViQAEABQIAUMdse+oAAAAASUVORK5CYII=");
  mix-blend-mode: normal;
  background-color: var(--grayDark6);
}


@media only screen and (max-width: 40em) {}

/* Tablet --> min-width 641px  */
@media only screen and (min-width: 40.063em) {}

/* Desktop --> min-width 1025px */
@media only screen and (min-width: 64.063em) {}

/* Desktop --> min-width 1441px */
@media only screen and (min-width: 90.063em) {}

/* Desktop --> min-width 1921px */
@media only screen and (min-width: 120.063em) {}

/* ************************************************* */
/* ******************************** MODALS  */
/* ************************************************* */

.modal {
  position: fixed;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 0;
  transition: all 1s ease;
  display: grid;
  place-items: center;
  text-align: left;
  pointer-events: none;
}

.modal.visible {
  opacity: 1;
  pointer-events: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#cross {
  position: fixed;
  right: 5%;
  top: 5%;
  padding: 2%;
  background: var(--grayDark10);
}

#cross:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 150ms linear;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.2);
  background: var(--grayDark11);
}

#info {
  position: fixed;
  z-index: 1000;
  width: 90vw;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  padding: 5%;
  transition: all 1.4s ease-out;
  color: var(--gray3);
  background-color: var(--grayDark7);
}

.modal__text {
  text-shadow: var(--mint6) 0 0 1rem;
  font-family: "Pirulen";
  line-height: 1.5;
  font-size: clamp(max(2rem, 1.2vw));
  padding-top: 2vh;
}

/* **********************************************************************************/
/* ****************************** /* MEDIA QUERIES */
/* ***********************************************************************************/

@media only screen and (max-width: 40em) {}

/* Tablet --> min-width 641px  */
@media only screen and (min-width: 40.063em) {}

/* Desktop --> min-width 1025px */
@media only screen and (min-width: 64.063em) {}

/* Desktop --> min-width 1441px */
@media only screen and (min-width: 90.063em) {}

/* Desktop --> min-width 1921px */
@media only screen and (min-width: 120.063em) {}

/* **********************************************************************************/
/* ****************************** /* MEDIA QUERIES */
/* ***********************************************************************************/

@media only screen and (max-width: 1140px) {}

@media only screen and (max-width: 840px) {}

@media only screen and (max-width: 600px) {}

/* *************************************************************************************/
/* ****************************** /* Retina Displays **********************************/
/* ***********************************************************************************/

/* ****************************** /* iphone 12 pro max */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (-o-min-device-pixel-ratio: 3/1),
only screen and (min-device-pixel-ratio: 3),
only screen and (min-resolution: 458dpi),
only screen and (min-resolution: 3dppx) {}

/* ****************************** /* Retina 2x Media Query*/
@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (-o-min-device-pixel-ratio: 3/1),
only screen and (min-device-pixel-ratio: 3),
only screen and (min-resolution: 384dpi),
only screen and (min-resolution: 3dppx) {
  /* Retina styles here */
}

/* ****************************** /* Retina 3x Media Query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina styles here */
}

/* Desktop --> iPhone Orientation */
@media only screen and (orientation:portrait) {}

@media only screen and (orientation:landscape) {}